APP_ENV=     # QUAL AMBIENTE QUE ESTA RODANDO O PROJETO ( production / homolog / local )
APP_PORT=    # PORTA QUE O PROJETO IRÁ RODAR

DB_HOST=     # HOST DO SEU BANCO DE DADOS
DB_PORT=     # PORTA DO SEU BANCO DE DADOS
DB_USER=     # NOME DO USUÁRIO PRINCIPAL DO BANCO DE DADOS
DB_PASSWORD= # SENHA DO SEU USUÁRIO PRINCIPAL DO BANCO DE DADOS
DB_NAME=     # NOME DO DATABASE